In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('Advertising.csv')

In [3]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
data.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [7]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [9]:
ndata=data.drop(['Unnamed: 0'], axis=1)

In [10]:
ndata

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [32]:
x=ndata.iloc[:,:-1]
y=ndata.Sales

In [33]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [34]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [53]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.3,random_state=45)

In [54]:
from sklearn.linear_model import LinearRegression 

lr=LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [55]:
y_pred=lr.predict(x_test)

In [56]:
y_pred

array([15.18350327, 10.21948233, 16.43456724, 21.7239908 , 15.96767549,
        9.03985488, 18.07145978, 11.38326453, 17.25363527,  8.6112531 ,
       11.3156798 ,  9.74416756, 12.23479101, 19.2505642 , 16.96805082,
        6.561987  , 14.17184996,  7.75030106, 21.06173139, 12.40054346,
       19.16419445,  7.56101141, 17.47715543, 10.21050722, 17.17342244,
        7.09239822, 20.51325896, 12.25562263, 15.06384357, 14.25958008,
       23.08223065, 20.223069  , 19.97812914, 16.58231504,  9.93638422,
       10.08398195, 16.81864564, 18.37299271, 13.10049628, 19.55593883,
       15.45309762, 14.09996536,  9.68323114, 12.23088958, 24.66976005,
       12.05877783, 13.86130507,  9.01248555, 22.70205272, 14.12211829,
       23.84731863, 18.67865699, 20.12149193, 13.63934669,  9.70869542,
        9.79235681,  9.85176457, 19.07439923, 20.68715788, 17.05541673])

In [57]:
y_test

45     14.9
72      8.8
40     16.6
58     23.8
25     12.0
13      9.7
153    19.0
80     11.8
3      18.5
44      8.5
134    10.8
149    10.1
173    11.7
33     17.4
62     15.7
182     8.7
112    14.1
129     9.7
69     22.3
190    10.8
133    19.6
172     7.6
35     12.8
157    10.1
187    17.3
10      8.6
104    20.7
177    11.7
26     15.0
171    14.5
147    25.4
0      22.1
109    19.8
194    17.3
151    11.6
82     11.3
64     18.0
169    15.0
4      12.9
28     18.9
97     15.5
174    11.5
138     9.6
67     13.4
175    27.0
116    12.2
135    11.6
29     10.5
61     24.2
83     13.6
183    26.2
184    17.6
176    20.2
167    12.2
38     10.1
79     11.0
186    10.3
188    15.9
84     21.7
168    17.1
Name: Sales, dtype: float64

In [58]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [59]:
mean_squared_error(y_test, y_pred)

2.3370505461647437

In [60]:
r2_score(y_test, y_pred)

0.9041908265578182

In [68]:
adjusted_r2=1-(1-0.9)*(45-3)/(45-3-1)

In [69]:
adjusted_r2

0.8975609756097561